<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>文章列表</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	{css href="__STATIC__/layui/css/layui.css"}
	{css href="__STATIC__/css/public.css"}
	{js href="__STATIC__/js/jquery.min.js"}
    {js href="__STATIC__/layui/layui.js"}
</head>
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline f-right">
				<div class="layui-input-inline">
					<input type="text" class="layui-input searchVal" placeholder="请输入文章标题" />
				</div>
				<a class="layui-btn search_btn" data-type="reload">搜索</a>
			</div>
			<div class="layui-inline">
				<a class="layui-btn layui-btn-normal addNews_btn"><i class="layui-icon">&#xe654;</i>添加文章</a>
			</div>
			<div class="layui-inline">
				<a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>
			</div>
			<div class="layui-inline">
				<select name="cid" class="cid" lay-filter="move">
					<option>文章转移到</option>
					{volist name="list" id="v"}
						{if condition="(in_array($v.id,$pid)) OR ($v.id==$id)"}
						<option value="{$v.id}" disabled>{$v._name}</option>
						{else /}
						<option value="{$v.id}">{$v._name}</option>
						{/if}
					{/volist}
				</select>
			</div>
		</form>
	</blockquote>
	<table id="newsList" lay-filter="newsList"></table>
	<!--操作-->
	<script type="text/html" id="newsListBar">
		<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
		<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
		<a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="look">预览</a>
	</script>
</form>
<script>
var url="{:url('article/fpage',['id'=>$id],'')}";
var url2="{:url('article/del','','')}";
var url4="{:url('article/move','','')}";
var url5="{:url('article/add','cid='.$id,'')}";
var url6="{:url('article/edit','','')}";
var url3="{:url('/Index/article/shows','','')}";
</script>
{js href="__STATIC__/js/newsList.js"}
</body>
</html>